@import "tailwindcss";

:root {
  --background: #bad4d8;
  --foreground: #a32950;
}

body{
  background-color: var(--background);
  color: var(--foreground);
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: gray; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb; 
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Improve Swiper controls */
.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background-color: #4f46e5 !important; /* Primary color */
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}
